<form action="/action_page.php">
<div class="total ">
<h2 >School Name </h2>
</div>
   <div>
    <h2>Class : grade 1 </h2>
	<h2>Section : A</h2>
  </div>
  <br>
  <br>

<table id="customers">
  <tr>
    <th>Student name </th>
    <th>student id </th>
    <th>Add</th>


	</tr>
  <tr>
    <td>XXX</td>
    <td> 1234</td>
    <td><span class="glyphicon glyphicon-plus"></span>
 </td>
  </tr>
  <tr>
    <td>YYY</td>
    <td>1235</td>
    <td><span class="glyphicon glyphicon-plus"></span> </td>

  </tr>
   <tr>
    <td>ZZZ</td>
    <td>1245</td>
    <td><span class="glyphicon glyphicon-plus"></span> </td>



  </tr>  <tr>
    <td>RAM</td>
    <td>1345</td>
    <td><span class="glyphicon glyphicon-plus"></span> </td>



  </tr>
  </table>
  <br>
  <br>

<div>
    <button type="submit" form="nameform" value="Submit">Submit</button>
	    <button type="submit" form="nameform" value="Submit">Back</button>

<br>
  <br>
</div>
