
  <form #data="ngForm" (ngSubmit)="onSubmit(data.value)">


    SCHOOL ID:<input type="text" name="School_Id" ngModel><br>
    TEACHER ID:<input type="text" name="Teacher_Id" ngModel><br>
    TEACHER NAME:<input type="text" name="Teacher_Name" ngModel><br>
    CLASS:<input type="text" name="Class" ngModel><br>
    SECTION:<input type="text" name="Section" ngModel><br>
    SUBJECT:<input type="text" name="Subject" ngModel><br>
    TEACHER TYPE:<input type="text" name="Teacher_Type" ngModel><br>
    <input type="submit" value="ADD TEACHER" >
    
    </form>