
<form action="/action_page.php">

<div class="total ">
<h2 >School Name </h2>
</div>
<div class="container">
  <h2>Assigning Teacher to class</h2>

  <div class="dropdown">
    Teacher   :    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Teacher
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">XXX		</a></li>
      <li class="#"><a href="#">xxx</a></li>
      <li class="active"><a href="#">xxxx</a></li>
      <li><a href="#">xxxx</a></li>
    </ul>

  </div>

  <br>

    <div class="dropdown">
    class   :    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">select class
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">1		</a></li>
      <li class="#"><a href="#">2</a></li>
      <li class="active"><a href="#">3</a></li>
      <li><a href="#">4</a></li>
    </ul>

  </div>
 <br>
   <br>

    <div class="dropdown">
    Section  :    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">select section
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">A		</a></li>
      <li class="#"><a href="#">B</a></li>
      <li class="active"><a href="#">C</a></li>
      <li><a href="#">D</a></li>
    </ul>

  </div>
   <br>

    <div class="dropdown">
    Subjects		 :    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">select subjects
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">English		</a></li>
      <li class="#"><a href="#">Telugu</a></li>
      <li class="active"><a href="#">Science</a></li>
      <li><a href="#">Maths</a></li>
    </ul>

  </div>
     <br>


  <br>
  <br>
  <button type="submit" form="nameform" value="Submit">Submit</button>
<br>
<br>
</div>
