
<form action="/action_page.php">
<div class="total ">
<h2 >School Name </h2>
</div>
   <div class="dropdown">
    Class : <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">select Grade
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Grade 1</a></li>
      <li class="#"><a href="#">Grade 2</a></li>
      <li class="active"><a href="#">Grade 3</a></li>
      <li><a href="#"> Grade 4</a></li>
      <li><a href="#"> Grade 5</a></li>
    </ul>

  </div>
  <br>
  <br>

<table id="customers">
  <tr>
    <th>Classes</th>
    <th>Section</th>
    <th>No of Students </th>
    <th>Add New students </th>

	</tr>
  <tr>
    <td>Grade 1</td>
    <td>A </td>
    <td>45 students </td>
	<td><a href="default.asp" target="_blank">Add here </a></td>
  </tr>
  <tr>
    <td>Grade 1</td>
    <td>B</td>
    <td>60 students </td>
		<td><a href="default.asp" target="_blank">Add here </a></td>


  </tr>
   <tr>
    <td>Grade 1</td>
    <td>C</td>
    <td>60 students </td>
		<td><a href="default.asp" target="_blank">Add here </a></td>


  </tr>  <tr>
    <td>Grade 1</td>
    <td>D</td>
    <td>60 students </td>
		<td><a href="default.asp" target="_blank">Add here </a></td>


  </tr>
  </table>
  <br>
  <br>

<div>
    <button type="submit" form="nameform" value="Submit">Submit</button>
<br>
  <br>
</div>
