
<form action="/action_page.php">
<div class="total ">
<h2 >School Name </h2>
</div>

<h1> Student details </h1>
    <div class="col-md-4">

<div class="row">

  <div class="column">
    <img src="../../assets/profile.png" alt="Fjords" style="width:100%">
		    <div class="desc"><p>Name:Xx   R.no:1</p> </div>


 </div>

 <div class="column">
    <img src="../../assets/profile.png" alt="Forest" style="width:100%">
	    <div class="desc"><p>Name:XX   R.no:2 </p></div>
</div>
        <div class="col-md-4">

  <div class="column">
    <img src="../../assets/profile.png" alt="Mountains" style="width:100%">
		    <div class="desc"><p>Name:XX   R.no:3</p> </div>

  </div>
</div>

</div>

<div class="row">

  <div class="column">
    <img src="../../assets/profile.png" alt="Fjords" style="width:100%">
		    <div class="desc"><p>Name:Xx   R.no:1</p> </div>


 </div>

 <div class="column">
    <img src="../../assets/profile.png" alt="Forest" style="width:100%">
	    <div class="desc"><p>Name:XX   R.no:2 </p></div>
</div>
        <div class="col-md-4">

  <div class="column">
    <img src="../../assets/profile.png" alt="Mountains" style="width:100%">
		    <div class="desc"><p>Name:XX   R.no:3</p> </div>

  </div>
</div>

</div>
<div class="row">

  <div class="column">
    <img src="../../assets/profile.png" alt="Fjords" style="width:100%">
		    <div class="desc"><p>Name:Xx   R.no:1</p> </div>


 </div>

 <div class="column">
    <img src="../../assets/profile.png" alt="Forest" style="width:100%">
	    <div class="desc"><p>Name:XX   R.no:2 </p></div>
</div>
        <div class="col-md-4">

  <div class="column">
    <img src="../../assets/img2.png" alt="Mountains" style="width:100%">
		    <div class="desc"><p>Name:XX   R.no:3</p> </div>

  </div>
</div>

</div>

<div class="clearfix"></div>

</div>
